main {
  position: relative;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.thumb {
  width: calc(100% / 5 - 50px);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.comic-thumb {
  width: calc(100% / 4 - 50px);
  height: unset;
}

.thumb:hover {
  background-color: rgb(140, 140, 140, 0.5);
}

.thumb:hover {
  cursor: pointer;
}

.thumb > img {
  width: auto;
  min-height: 170px;
  object-fit: cover;
  object-position: left;
  margin-bottom: 15px;
}

.character-info {
  height: 200px;
}

.thumb h2 {
  font-size: 20px;
}

.thumb p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.comic-thumb p {
  -webkit-line-clamp: 4;
  line-clamp: 4;
  font-size: 12px;
}

.character-info p:first-of-type {
  font-weight: bold;
}

.character-info p:last-of-type {
  margin-top: 5px;
  font-style: italic;
  color: lightgray;
  font-size: 14px;

  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.4em;
  max-height: calc(1.4em * 3);
}

.search-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 20px 0;
}

.search-pagination button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.search-pagination button:hover {
  cursor: pointer;
  background-color: gray;
  border-radius: 2px;
}
