.pres {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  position: relative;
}

.pres img {
  height: 400px;
}

.pres-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.related-comics-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.related-comic {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.related-comic:hover {
  background-color: rgb(140, 140, 140, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.no-desc,
.no-comic {
  font-style: italic;
}

.pres svg {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}

.pres button:hover {
  cursor: pointer;
}
